<h1>Angular Router</h1>
<nav>
  <a
    routerLink="/crisis-center"
    routerLinkActive="activate"
    ariaCurrentWhenActive="page"
  >
    Crisis Center
  </a>
  <a
    routerLink="/heroes"
    routerLinkActive="activate"
    ariaCurrentWhenActive="page"
  >
    Heroes
  </a>
  <a
    routerLink="/admin"
    routerLinkActive="activate"
    ariaCurrentWhenActive="page"
  >
    Admin
  </a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>

<div [@routeAnimation]="getAnimationData()">
  <router-outlet></router-outlet>
</div>

<router-outlet name="popup"></router-outlet>
